{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
  <div id="signup">
    <div id="pgContentWrap">
      <h1>Login</h1>
      <p>In order to submit and/or manage proposals for {{ conference.name }}, you need to be logged in.  You can <a href="{% url 'signup' %}">create an account here</a> if you have not done so already.</p>
      <p>If you are purchasing tickets, you do not need a registered account, you can purchase tickets on the <a href="#">tickets</a> page.</p>
      <form action="" method="POST">
        {% csrf_token %}
        {% if form.errors %}
          <div class="error">
            There were some errors with your submission, please see below.<br />
            {{ form.non_field_errors }}
          </div>
        {% endif %}
        <table class="pgGenericFormTable">
          <tr>
            <th colspan="2">Login</th>
          </tr>
          <tr {% if form.email.errors %}class="error"{% endif %}>
            <td>{{ form.email.label_tag }}</td>
            <td>
              {% if form.email.errors %}
                {% for error in form.email.errors %}{{ error }}<br />{% endfor %}
              {% endif %}
              {{ form.email }}
            </td>
          </tr>
          <tr {% if form.password.errors %}class="error"{% endif %}>
            <td>{{ form.password.label_tag }}</td>
            <td>
              {% if form.password.errors %}
                {% for error in form.password.errors %}{{ error }}<br />{% endfor %}
              {% endif %}
              {{ form.password }}
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <input type="submit" name="submit" value="Login" />
            </td>
          </tr>
        </table>
      </form>
      <p>Don't have an account? <a href="{% url 'signup' %}">Signup Here!</a></p>
    </div>
    {% include '_sponsors.html' %}
  </div>
{% endblock content %}