/* GRID RESET
 *----------------------------------------------- */
body .container {
    width: auto;
    padding: 2% 5%;
}
body .span12 {
    width: auto;
    min-height: 0px;
    margin: 0;
    float: none;
}
body .span4 {
    width: auto;
    margin: 0;
}

/* BASE
 *----------------------------------------------- */
html, body {
    position: absolute;
    min-height: 100%;
    top: 0;
    right: 0;
    left: 0;
    overflow: visible;
    background: #2c3840;
}
body {
    right: 360px;
    margin-bottom: -70px;
}

body section {
    background: #e4edf3;
}
body p, body h4 {
    line-height: 1.6em;
}

/* LAYOUT
 *----------------------------------------------- */
#topbar {
    background: #000;
    height: auto;
    opacity: 0.3;
}
#topbar:hover,
#topbar.active {
    opacity: 1.0;
    background: #fff;
}
#topbar.alt {
    background: #fff;
    opacity: 1.0;
}
#topbar .navbar .hidden {
    top: 10px;
}
#topbar .logo {
    top: 10px;
}
#sponsors {
    position: absolute;
    right: -360px;
    top: 0;
    width: 360px;
    height: 100%;
    padding: 5em 0 0;
    min-height: 1600px;
}
#sponsors > div {
    padding: 2em;
}
#sponsors > div > div {
    overflow: auto;
}
#sponsors .hero-unit h2 {
    font-size: 1.2em;
}
#speakers {
    background: #e4edf3;
}
#speakers .white {
    color: inherit;
}
#sponsors,
#contact,
#intro,
#register,
#news,
#footer {
    text-align: center;
}

#intro.splash-2015 {
    background:url(../images/backgrounds/2015.jpg) center center no-repeat fixed;
}

#register.splash-2015 {
    background:url(../images/backgrounds/2015.jpg) center center no-repeat fixed;
}

.global-message {
    text-align: center;
    background: tan;
    color: red;
    width: 100%;
}

.logo-2014 {
    background: url("../images/logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.logo-2015, .top-bar.alt .logo .logo-2015 {
    background: url("../images/logo-2015.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.logo-2014 h3 {
    display: none;
}

.logo-2015 h3 {
    color: #1B86B9;
    font-size: 0.7em;
    text-transform: none;
    font-family: Helvetica;
    padding-left: 55px;
}

.proposal-form td.input,
.proposal-form input,
.proposal-form textarea {
    width: 80%;
}

.error {
    border: 1px solid red;
    font-weight: bold;
    color: red;
    text-align: center;
}

table.submissions {
    width: 100%;
}

.submissions th,
.submissions td {
    text-align: left;
    width: 25%;
}

/* MODULES
 *----------------------------------------------- */
#about .about-header {
    text-align: center;
}
#about .span4 {
    width: 33.3%;
    float: left;
    box-sizing: border-box;
    padding: 1em;
}
#about .span12 .divider-space {
    display: none;
}
#about .hero-unit {
    padding-bottom: 4em;
}
#countdown:before,
#countdown:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
#countdown:after {
   clear: both;
}
#countdown {
    font-size: 0;
}
#countdown > div {
    display: inline-block;
    *display: inline;
    width: 25%;
}
#home #about .hero-unit {
    padding-bottom: 0;
}
#topbar .container {
    padding-top: 0;
    padding-bottom: 0;
}

/* Responsive
 *----------------------------------------------- */
@media (max-width: 980px) {
    #countdown > div {
        width: 50%;
    }
    #topbar .main-nav.pull-left {
        width: 50%;
    }
    #topbar .main-nav.pull-right {
        width: 50%;
    }
}
@media (max-width: 980px) {
    body {
        right: 0;
    }
    #sponsors {
        position: static;
        height: auto;
        right: auto;
        left: auto;
        top: auto;
        width: auto;
    }
}
@media (max-width: 767px) {
    #about .span4 {
        float: none;
        width: auto;
    }
}
