/* GRID RESET
 *----------------------------------------------- */
body .container {
    width: auto;
    padding: 2% 5%;
}
body .span12 {
    width: auto;
    min-height: 0px;
    margin: 0;
    float: none;
}
body .span4 {
    width: auto;
    margin: 0;
}

/* BASE
 *----------------------------------------------- */
html, body {
    position: absolute;
    min-height: 100%;
    top: 0;
    right: 0;
    left: 0;
    overflow: visible;
    background: #2c3840;
}
body {
    right: 360px;
    margin-bottom: -70px;
}

body section {
    background: #e4edf3;
}
body p, body h4 {
    line-height: 1.6em;
}

/* LAYOUT
 *----------------------------------------------- */
#topbar {
    background: #000;
    height: auto;
    opacity: 0.3;
}
#topbar:hover {
    opacity: 1.0;
    background: #fff;
}
#topbar.alt {
    background: #fff;
    opacity: 1.0;
}
#topbar .navbar .hidden {
    top: 10px;
}
#topbar .main-nav.pull-right {
    width: 70%;
}
#topbar .logo {
    top: 10px;
}
#sponsors {
    position: absolute;
    right: -360px;
    top: 0;
    width: 360px;
    height: 100%;
    padding: 5em 0 0;
    min-height: 1600px;
}
#sponsors > div {
    padding: 2em;
}
#sponsors > div > div {
    overflow: auto;
}
#sponsors .hero-unit h2 {
    font-size: 1.2em;
}
#speakers {
    background: #e4edf3;
}
#speakers .white {
    color: inherit;
}
#sponsors,
#contact,
#intro,
#register,
#news,
#footer {
    text-align: center;
}

/* MODULES
 *----------------------------------------------- */
#about .about-header {
    text-align: center;
}
#about .span4 {
    width: 33.3%;
    float: left;
    box-sizing: border-box;
    padding: 1em;
}
#about .span12 .divider-space {
    display: none;
}
#about .hero-unit {
    padding-bottom: 4em;
}
#countdown:before,
#countdown:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
#countdown:after {
   clear: both; 
}
#countdown {
    font-size: 0;
}
#countdown > div {
    display: inline-block;
    *display: inline;
    width: 25%;
}
#home #about .hero-unit {
    padding-bottom: 0;
}
#topbar .container {
    padding-top: 0;
    padding-bottom: 0;
}
body .text-center {
    text-align: inherit;
}

/* Responsive
 *----------------------------------------------- */
@media (max-width: 980px) {
    #countdown > div {
        width: 50%;
    }
}
@media (max-width: 980px) {
    body {
        right: 0;
    }
    #sponsors {
        position: static;
        height: auto;
        right: auto;
        left: auto;
        top: auto;
        width: auto;
    }
}
@media (max-width: 767px) {
    #about .span4 {
        float: none;
        width: auto;
    }
}