<header class="top-bar" id="topbar">
  <div class="container">
    <div>
      {% if not conference.active %}
        <div class="global-message">
          <strong>{{ conference.name }} is a past conference.  For the latest conference, <a href="/">please click here</a></strong>
        </div>
      {% endif %}
      <div>
        <a class="logo pull-left" href="{% url 'conference' conference.slug %}" title="{{ conference.name }}">
          <span class="logo-{{ conference.slug }}">
            <h3>{{ conference.name }}</h3>
          </span>
        </a>
        <div class="navbar main-nav pull-right">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <nav>
            <div class="nav-collapse collapse">
              <ul id="mainnav" class="nav">
                <li><a href="{% url 'conference' conference.slug %}">Home</a></li>
                <li><a href="/{{ conference.slug }}/about/">About</a></li>
                <li><a href="/{{ conference.slug }}/venue/">Venue</a></li>
                <li><a href="/{{ conference.slug }}/tickets/">Tickets</a></li>
                {% if conference.is_call_for_papers_active %}
                  <li><a href="{% url 'submit' conference.slug %}">Submit a Talk</a></li>
                {% endif %}
                {% if conference.is_schedule_active %}
                  <li><a href="{% url 'schedule' conference.slug %}">Schedule</a></li>
                {% endif %}
                <li><a href="/{{ conference.slug }}/training/">Training</a></li>
                <li><a href="/{{ conference.slug }}/what-to-do/">Attractions</a></li>
                <li><a href="/{{ conference.slug }}/sponsor/">How to Sponsor</a></li>
                <li><a href="/{{ conference.slug }}/policies/">Policies</a></li>
                <li><a href="/{{ conference.slug }}/contact/">Contact</a></li>
              </ul>
            </div>
          </nav>
        </div>
        <!-- end navbar -->
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</header>
