<tr>
  <td>{{ block.start_time|time:"g:iA" }}</td>
  <td>{{ block.end_time|time:"g:iA" }}</td>
  {% for event in events %}
    {% if event.is_full_block %}
      <td colspan="{{ rooms|length }}">
        <strong>
          <a href="{% url 'speaker' block.day.conference.slug event.id %}">{{ event.event_title }}</a>
        </strong><br />
        <em>{{ event.event_speaker }}</em>
      </td>
    {% else %}
      <td>
        {% if event %}
          <strong>
          {% if event.proposal %}
            <a href="{% url 'speaker' block.day.conference.slug event.id %}">{{ event.event_title }}</a>
          {% else %}
            {{ event.event_title }}
          {% endif %}
          </strong><br />
          <em>{{ event.event_speaker }}</em>
        {% endif %}
      </td>
    {% endif %}
  {% endfor %}
</tr>