<tr>
  <td>{{ block.start_time|time:"g:iA" }}</td>
  <td>{{ block.end_time|time:"g:iA" }}</td>
  {% for event in events %}
    {% if event.is_full_block %}
      <td colspan="{{ rooms|length }}">
        <strong>{{ event.event_title }}</strong><br />
        <em>{{ event.event_speaker }}</em>
      </td>
    {% else %}
      <td>
        {% if event %}
          <strong>{{ event.event_title }}</strong><br />
          <em>{{ event.event_speaker }}</em>
        {% endif %}
      </td>
    {% endif %}
  {% endfor %}
</tr>