<section id="sponsors">
{% include 'social_embed.html' %}
    <div>
      {% if sponsors %}
        {% regroup sponsors by category as sponsor_list %}
        {% for category in sponsor_list %}
            <div class="subheader" align="center">
            {% for item in category.list %}
              {% if item.category == "Platinum" %}
              <h4>{{ category.grouper }}</h4>
              {% endif %}
            {% endfor %}
            </div>
          <!-- -->
          {% for item in category.list %}
          
            <div class="text-center">
              {% for sponsor in item.sponsors %}
              {% if sponsor.category_id == 1 %}
                <a href="{{ sponsor.url }}" class="organization-link" target="_blank">
                  <img src="{{ sponsor.logo.url }}" alt="{{ sponsor.name }}" class="organization-logo">
                </a>
              {% endif %}
              {% endfor %}
            </div>
          {% endfor %}
        {% endfor %}
        {% endif %}
      <!-- end span12 -->
      {% include 'twitter_embed.html' %}
      {% include 'footer_embed.html' %}
    <!-- end row -->
  <!-- end container -->
</section>
