<section id="sponsors">
  <div>
    <div>
      <div>
        <div class="module-header sponsors-header">
          <h4>{{ conference.name }} Sponsors</h4>
        </div>
      </div>
      <!-- end module-header -->
      <div class="hero-unit text-center">
        <h2>{{ conference.name }} would not take place without the generous support for our sponsors.</h2>
        <p><a href="/{{ conference.slug }}/sponsor/">Information about available sponsorship opportunities</a> can be found <a href="/{{ conference.slug }}/sponsor/">on this page</a></p>
      </div>
      <!-- end hero-unit -->
      {% if sponsors %}
        {% regroup sponsors by category as sponsor_list %}
        {% for category in sponsor_list %}
          <div class="text-center">
            <div class="subheader">
              <h4>{{ category.grouper }}</h4>
            </div>
            <!-- --> 
          </div>
          {% for item in category.list %}
            <div class="text-center">
              {% for sponsor in item.sponsors %}
                <a href="{{ sponsor.url }}" class="sponsor-link"><img src="{{ sponsor.logo.url }}" alt="{{ sponsor.name }}" class="sponsor-logo"></a>
              {% endfor %}
            </div>
          {% endfor %}
        {% endfor %}
      {% endif %}
      <!-- end span12 -->
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
