<!DOCTYPE html>
<html>
  <head>
    <title>PostgreSQL Conference New York | {{ conference.name }} | {% block title %}Welcome{% endblock title %}</title>
    <meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
    <!-- <link rel="shortcut icon" href="/favicon.ico" /> -->
    <style type="text/css" media="screen" title="Normal Text">@import url("{{ STATIC_URL }}css/screen.css");</style>
  </head>
  <body>
    <div id="pgContainerWrap">
      <div id="pgContainer">
        <div id="pgHeaderContainer">
          <div id="pgSearch">
            <div id="pgSearchNav">
              <ul id="pgSearchNavList">
                <li><a href="/2014/policies/">Policies</a></li>
                {% if user.is_authenticated %}
                  <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                  <li><a href="{% url 'signup' %}">Signup</a></li>
                  <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
          <div id="pgHeader">
            <div id="pgHeaderLogoLeft">
              <a href="{% url 'conference' conference.slug %}">
                <img alt="PostgreSQL" src="/static/images/layout/logo.png" />
              </a>
            </div>
            <div id="pgHeaderCenter"></div>
            <div id="pgHeaderLogoRight">
              <a href="{% url 'conference' conference.slug %}">
                <img width="210" height="80" alt="The world's most advanced open source database." src="/static/images/layout/hdr_right.png" />
              </a>
            </div>
          </div> <!-- pgHeader -->
          <div id="pgTopNav">
            <div id="pgTopNavLeft">
              <img width="7" height="23" alt="" src="/static/images/layout/nav_lft.png" />
            </div>
            <div id="pgTopNavRight">
              <img width="7" height="23" alt="" src="/static/images/layout/nav_rgt.png" />
            </div>
            {% include '_nav.html' %}
          </div> <!-- pgTopNav -->
        </div> <!-- pgHeaderContainer -->
        <div id="pgContent">
          {% block content %}{% endblock content %}
          <br class="pgClearBoth" />
        </div> <!-- pgContent -->
      </div>
    </div> <!-- pgContainerWrap -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46374977-1', 'pgconf.us');
      ga('send', 'pageview');

    </script>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '52d0f0928bfdf733ce002298');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>