{% extends 'base.html' %}
{% block content %}
<div id="home">
  <section id="intro" class="splash-{{ conference.slug }}">
    <div>
        <section id="register">
                <h1>{{ conference.name }}</h1>
                <h4>Building a Bigger, Stronger PostgreSQL Community</h4>
                <h4>{{ conference.start_date|date:"F j" }} - {{ conference.end_date|date:"j, Y" }}</h4>
    <div class="container">
        <div id="countdown"></div>
        <div class="text-center">
          <a href="/{{ conference.slug }}/tickets/" class="btn btn-large btn-primary">Register Now</a>
      </div>
      <!-- end row -->
    </div> 
    <!-- end container -->
  </section>
              <div class="text-center">
                   {% if sponsors %}
                          {% regroup sponsors by category as sponsor_list %}
                          {% for category in sponsor_list %}
                            <div class="text-center">
                              <div class="subheader">
				{% for item in category.list %}
		                {% if item.category != "Platinum" %}        
              			<h4>{{ category.grouper }}</h4>           
		                {% endif %}
                                {% endfor %} 
                              </div>
                              <!-- -->
                            </div>
                            {% for item in category.list %}
                              <div class="text-center">
                                {% for sponsor in item.sponsors %}
                                {% if sponsor.category_id != 1 %}
                                  <a href="{{ sponsor.url }}" class="organization-link" target="_blank">
                                    <img src="{{ sponsor.logo.url }}" alt="{{ sponsor.name }}" class="organization-logo">
                                  </a>
                                {% endif %}
                                {% endfor %}
                              </div>
                            {% endfor %}
                          {% endfor %}
                        {% endif %}
              </div>
              <!-- end span12 -->
            </div>
            <!-- end row -->
    </div>
    <!-- end container -->
  </section>
</div>
{% endblock content %}
