{% extends 'base.html' %}
{% load markup %}

{% block content %}
  <section id="intro">
    <div class="container">
      <div class="flexslider">
        <ul class="slides">
          <li> 
            <!-- slide 1 -->
            <div class="row jumbotron">
              <div class="span12 text-center">
                <h1>{{ conference.name }}</h1>
                <h3>{{ conference.start_date|date:"F j" }} - {{ conference.end_date|date:"j, Y" }}</h3>
                <a href="#" class="btn btn-large btn-primary">Tickets</a>
              </div>
              <!-- end span12 --> 
            </div>
            <!-- end row --> 
          </li>
          <!-- endslide 1 -->
        </ul>
      </div>
      <!-- end flexslider --> 
    </div>
    <!-- end container --> 
  </section>
  <!-- end intro section --> 
  <section id="register">
    <div class="container">
      <div class="row">
        <div id="countdown"></div>
        <div class="span12 white register-box text-center">
          <h2 class="register-title">Tickets Available Today From $299</h2>
          <a href="/{{ conference.slug }}/tickets/" class="btn btn-large btn-primary">Register Now</a>
        </div>
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </section>
{% endblock content %}