{% extends 'base.html' %}

{% block content %}
  <div id="registration">
    <div id="pgContentWrap">
      <h1>Registration</h1>
      <p>
        Tickets for PGDay NYC 2012 are available through EventBrite and cost $150 for admission on April 2nd, 2012.  Below is a registration form for your convenience, or you can view our page on EventBrite at <a href='http://pgdaynyc2012.eventbrite.com/' target='_blank'>http://pgdaynyc2012.eventbrite.com/</a>
      </p>
      <p>
        If you have any questions please reach out to us at <a href='mailto:contact@nycpug.org'>contact@nycpug.org</a>
      </p>
      <div style="width:100%; text-align:left;" ><iframe  src="http://www.eventbrite.com/tickets-external?eid=2794730113&ref=etckt" frameborder="0" height="192" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt" >Event Registration Online</a><span style="color:#ddd;" > for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://pgdaynyc2012.eventbrite.com?ref=etckt" >PGDay NYC 2012</a><span style="color:#ddd;" > powered by </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt" >Eventbrite</a></div></div>
    </div>
  </div>
{% endblock content %}