{% extends 'base.html' %}
{% load schedule_tags %}

{% block content %}
<section id="schedule">
  <div class="container">
    <div class="row">
      <div class="span12 hero-unit">
        <h4>
          {{ conference.name }} is from {{ conference.start_date }} to {{ conference.end_date }} at the <a href="/{{ conference.slug }}/venue/">New York Marriott Downtown</a> and focuses on how people use <a href="http://www.postgresql.org" target="_blank">PostgreSQL</a>, from the perspective of developers, DBAs, systems administrators, business-intelligence analysts, and decisions makers.<br />
          <br />
          Tickets for {{ conference.name }} can be purchased below the schedule or on the <a href="/{{ conference.slug }}/tickets/">registration</a> page.
        </h4>
      </div>
      <!-- end span12 -->
      <div class="span12">
        {% if conference.tracks.exists %}
          <div class="module-header schedule-header">
            <h3>Tracks</h3>
            <table border="1" style="margin: auto;">
              <tr>
                {% for track in conference.tracks.all %}
                  <td {% if track and track.color %}style="background-color: {{ track.color }};"{% endif %}>{{ track.name }}</td>
                {% endfor %}
              </tr>
            </table>
          </div>
        {% endif %}
        {% for day in conference.days.all %}
          <div class="module-header schedule-header">
            <h3>{{ day.event_date }}</h3>
          </div>
          {% render_schedule_for_day day %}
        {% endfor %}
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<section id="speakers">
  <div class="container">
    <div class="row">
      <div class="span12 hero-unit text-center white">
        <h2>Come Join Us!</h2>
      </div>
      <!-- end hero-unit -->
      <div class="span12">
        <div class="divider-space"></div>
      </div>
      <div class="span12">
        <div style="width:100%; text-align:left;" ><iframe  src="//eventbrite.com/tickets-external?eid=13516589483&ref=etckt" frameborder="0" height="550" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Sell Tickets Online</a> <span style="color:#ddd;">through</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>
      </div>
      <div class="span12 text-center white">
        <p>Tickets for {{ conference.name }} are available through EventBrite. The first day, March 25, is dedicated to training sessions, these are separate purchases from the standard conference pass.  The main talk sessions for {{ conference.name }} take place from March 26 - 27 and can be purchased above as well.</p>
        <p>If you are a student and interested in attending {{ conference.name }}, we are offering a discount rate of $29 for admission. Please email <a href="mailto:pgconf@postgresql.us">pgconf@postgresql.us</a> for information on how to register.</p>
        <p>{{ conference.name }} is hosted by the United States PostgreSQL Association, which is a registered 501(c)(3). All ticket sales go directly to the program of {{ conference.name }} and any proceeds are used for the ongoing activities of the United States PostgreSQL Association, which include sponsoring PostgreSQL meetup groups, providing educational materials for PostgreSQL, and sponsoring speakers to discuss PostgreSQL at various events.</p>
        <p>If you have any questions, please reach out to us at <a href="mailto:pgconf@postgresql.us">pgconf@postgresql.us</a></p>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
{% endblock content %}
