          <div class="text-center">
            <div class="social">
              <a href="https://www.facebook.com/pgconf.us" target="_blank" title="Facebook" class="icon-wrap small facebook"><i class="iconf-facebook"></i></a>
              <a href="http://twitter.com/pgconfus" target="_blank" title="Twitter" class="icon-wrap small twitter"><i class="iconf-twitter"></i></a>
              <a href="https://plus.google.com/110271077061666653944" target="_blank" title="Google+" class="icon-wrap small google" rel="publisher"><i class="iconf-google"></i></a>
              <a href="https://www.linkedin.com/company/pgconf-us" target="_blank" title="LinkedIn" class="icon-wrap small linkedin"><i class="iconf-linkedin"></i></a>
              <a href="http://lanyrd.com/2016/pgconfus/" target="_blank" title="Lanyrd" class="icon-wrap small lanyrd"> <i class="iconf-lanyrd"></i> </a>
              <a href="http://pgconfus2016.eventbrite.com" target="_blank" title="Eventbrite" class="icon-wrap small eventbrite"> <i class="iconf-eventbrite"></i> </a>
            </div>
          </div>