{% extends 'base.html' %}

{% block content %}
  <div id="speakers">
    <div id="pgContentWrap">
      <h1>Speakers</h1>
      <p>We are currently looking for speakers for PGDay NYC 2013 on March 22nd, 2013!  Our call for proposals is open until January 7th, 2013.  We will have notified all speakers by January 11th, 2013.</p>
      <p>We want you to share your experiences using PostgreSQL - your uses cases, experiences, deployment strategies, tools you've used in and around PostgreSQL - anything that you feel you would like to highlight to the PostgreSQL community!</p>
      <p>
        Some topics to consider:
        <ul>
          <li>Developing applications for PostgreSQL</li>
          <li>Deployment of PostgreSQL from a business perspective</li>
          <li>Administering large scale PostgreSQL installations</li>
          <li>Case studies of PostgreSQL deployments</li>
          <li>Introductions to PostgreSQL usage and features</li>
          <li>PostgreSQL tools and utilities</li>
          <li>Location-aware applications with PostGIS</li>
          <li>Integration with other databases</li>
          <li>Performance Tuning</li>
          <li>Migrating from other systems</li>
          <li>Scaling/replication</li>
        </ul>
      </p>
      <p>
        We will be receiving proposals for 40 minute talks and 20 minute talks.  You may submit as many proposals as you would like using the form below!
      </p>
      <hr />
      {% if message %}
        <p style='color:green'>
          Thank you for your submission.  We will let you know in the near future if you will be speaking at PGDay NYC 2012!
        </p>
      {% endif %}
      {% if form.errors %}
        <p style='color:red'>
          There were some errors with your submission, please correct them below:
          {{ form.errors }}
        </p>
      {% endif %}
      <form action="{% url speakers %}" method="POST">
        {% csrf_token %}
        <p>
          {{ form.name.label_tag }}
          {{ form.name }}
        </p>
        <p>
          {{ form.email.label_tag }}
          {{ form.email }}
        </p>
        <p>
          {{ form.proposal_name.label_tag }}
          {{ form.proposal_name }}
        </p>
        <p>
          {{ form.proposal_length.label_tag }}
          {{ form.proposal_length }}
        </p>
        <p>
          {{ form.description.label_tag }}
          {{ form.description }}
        </p>
        <p>
          {{ form.other.label_tag }}
          {{ form.other }}
        </p>
        <input type='submit' name='submit' value='Submit Proposal' />
      </form>
    </div>
    {% include '_sponsors.html' %}
  </div>
{% endblock content %}