{% extends 'base.html' %}

{% block content %}
  <div id="speakers">
    <div id="pgContentWrap">
      <h1>Speakers</h1>
      <p>We have an exciting group of speakers and talks for PGDay NYC 2013!</p>
      <p>Talks will occur between 9:00am through 6:30pm on March 22nd, 2013.  Tickets can be purchased on the <a href='{% url registration %}'>registration</a> page, and a complete schedule will be available on the <a href='{% url schedule %}'>schedule</a> page.</p>
      <p>Below is a list of speakers along with the talks they will be giving during PGDay NYC 2013</p>
      <table>
        {% for speaker in speakers %}
          <tr>
            <td><strong>{{ speaker.name }}</strong>{% if speaker.title %}, {{ speaker.title }}{% endif %}, {{ speaker.company }}</td><td>{{ speaker.active_proposals.all|join:", " }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
    {% include '_sponsors.html' %}
  </div>
{% endblock content %}