{% extends 'base.html' %}

{% block title %}Submit a Proposal{% endblock title %}

{% block content %}
<section id="about">
  <div class="container">
    <div class="row">
      <div class="span12">
        {% if form.errors %}
          <div class="error">
            There were some errors with your submission, please see below.<br />
            {{ form.non_field_errors }}
          </div>
        {% endif %}
        {% if login_form.errors %}
          <div class="error">
            There were some errors with signing in, please see below.<br />
            {{ login_form.non_field_errors }}
          </div>
        {% endif %}
        {% if signup_form.errors %}
          <div class="error">
            There were some errors with signing up, please see below.<br />
            {{ signup_form.non_field_errors }}
          </div>
        {% endif %}
        <div class="module-header about-header">
          <h4>&nbsp;</h4>
        </div>
        <!-- end module-header -->
      </div>
      <div class="span12 hero-unit text-center">
        <h1>Your Voice. Your Ideas.</h1>
        <h3>Submit a Talk to {{ conference.name }}</h3>
        <i class="iconf-lightbulb"></i>
        <h4>Engage a motivated, fun audience that is passionate about PostgreSQL and becoming better technologists.</h4>
      </div>
      <!-- end hero-unit -->
      <div class="span12">
        <div class="divider-space"></div>
      </div>
      <div class="span12">
        {% if user.is_authenticated and proposal %}
          <h2>Edit Submission</h2>
          <a href="{% url 'submit' conference.slug %}">Return to Submissions Page</a>
          <hr />
          {% include '_submit_form.html' %}
        {% else %}
          <p>Announcing the official {{ conference.name }} Call for Presentations! Call for Presentations will be open until November 15th, 2016, 11:59PM EST. Official notification will be on December 2nd, with the schedule being announced on January 2nd. Please note there will be no extensions for the submission deadline.</p>
          <p>{{ conference.name }} will be held March 28-31, 2017 at the <a href="/2017/venue/">Westin Jersey City</a>. This year we have announced several new additions to the conference such as an extra day of talks, a job fair, and increased sponsor opportunities. With the support of the United States PostgreSQL association, we are dedicated to increasing benefits for all of our conference attendees, speakers, and sponsors. </p>
          <p>This will be the fourth and most successful PGConf US, thanks to the participation of our attendees, speakers, volunteers, and sponsors. As a result, the PostgreSQL community has increased substantially. Forecasting over 500 attendees, the conference will be representing hundreds of companies and locations around the world.</p>
          <p>Day one of the conference, March 28th, will focus on providing in depth, hands on trainings with the goal of increasing the skillset of the community. We will also be hosting the Third Annual Regulated Industry Summit, featuring topics such as finance, government, healthcare, and PostgreSQL. The summit brings together PostgreSQL contributors and enterprise developers to discuss solutions using PostgreSQL for challenges in regulated industries. March 29th-31st will feature dedicated talks, keynotes, and social events focused on the wonderful world of PostgreSQL.</p>
          <p>Until November 15th, 2016, experts from around the world will be submitting talks and trainings to enhance the knowledge of the community and to be a part of one of the best open source communities in the world. Such individuals include developers, DBAs, systems administrators, business-intelligence analysts, decision makers, etc.</p>
          <p>We send gratitude to our launch sponsors:
            <ul style="list-style-type: circle;">
              <li>
                Diamond:
                <ul>
                  <li>Amazon</li>
                </ul>
              </li>
              <li>
                Platinum:
                <ul>
                  <li>OpenSCG</li>
                </ul>
              </li>
              <li>
                Silver:
                <ul>
                  <li>Command Prompt</li>
                </ul>
              </li>
          </p>
          <p>Interested in submitting a talk or training? Know what you’re doing? Please submit your proposal below.</p>

        <p>Interested in submitting a talk or training but need some guidance or feedback? Here are some ideas based on past schedules (<a href="{% url 'schedule' 2016 %}">2016</a>, <a href="{% url 'schedule' 2015 %}">2015</a>, <a href="{% url 'schedule' 2014 %}">2014</a>) and <a href="https://www.youtube.com/pgconfus/" target="_blank">videos</a>.  Or look at this non-exhaustive list of topics to consider:
          <ul style="list-style-type: circle;">
            <li>How to leverage new and/or innovative PostgreSQL features</li>
            <li>Developing applications with PostgreSQL</li>
            <li>Strategies for running PostgreSQL in production</li>
            <li>Case studies of PostgreSQL on deployments</li>
            <li>Tools around managing PostgreSQL deployments; PostgreSQL as a utility for management</li>
            <li>Managing your development process with PostgreSQL</li>
            <li>Running PostgreSQL with other databases</li>
            <li>How to use PostgreSQL extensions, e.g. PostGIS</li>
            <li>PostgreSQL integrations with other database, i.e. leveraging foreign data wrappers</li>
            <li>PostgreSQL Scalability + Replication</li>
            <li>Accessible Insights into PostgreSQL Internals</li>
            <li>Scalability strategies with PostgreSQL</li>
          </ul>
        </p>

        <p>Or send an email to <a href="mailto:pgconf@postgresql.us">pgconf@postgresql.us</a> for assistance!</p>

        <p>Interested in sponsoring? View our sponsorship prospectus: <a href="http://www.pgconf.us/static/prospectus/PGConf-US-2017-Prospectus.pdf">http://www.pgconf.us/static/prospectus/PGConf-US-2017-Prospectus.pdf</a></p>

        <p>Get involved today! Be a part of PGConf US 2017 and share your PostgreSQL experience with people from around the world!</p>
        <hr />
        {% endif %}
      </div>

      {% if user.is_authenticated %}
        <div class="span12">
          <h2>Your Submissions</h2>
          {% if proposals.exists %}
            <table class="submissions">
              <tr>
                <th>Proposal Title</th>
                <th>Format</th>
                <th>Submitted At</th>
                <th>Last Updated At</th>
                <th>Status</th>
                <th>&nbsp;</th>
              </tr>
              {% for proposal in proposals.all %}
                <tr>
                  <td>{{ proposal.title }}</td>
                  <td>{{ proposal.format_title }}</td>
                  <td>{{ proposal.created_at }}</td>
                  <td>{{ proposal.updated_at }}</td>
                  <td style="color:{% if proposal.status == 'accepted'%}green{% elif proposal.status == 'declined'%}red{% endif %};">{{ proposal.status|title }}</td>
                  <td><a href="{% url 'submit' conference.slug proposal.id %}">Edit</a></td>
                </tr>
              {% endfor %}
            </table>
          {% else %}
            You have not submitted any proposals yet.
          {% endif %}
          <hr />
          {% comment %}
          <h3>The CFP is now closed.  You may still go back and edit information in your talk proposal, but the review process is underway</h3>
          {% endcomment %}
          <h2>New Submission</h2>
          {% include '_submit_form.html' %}
        </div>
      {% else %}
        <div class="span12">
          In order to submit or review your proposal, you must be signed in.
        </div>
        <div class="span4">
          <h3>Signup</h3>
          <form action="{% url 'signup' %}" method="POST">
            {% csrf_token %}
            <table>
              <tr {% if signup_form.name.errors %}class="error"{% endif %}>
                <td>{{ signup_form.name.label_tag }}</td>
                <td>
                  {% if signup_form.name.errors %}
                    {% for error in signup_form.name.errors %}{{ error }}<br />{% endfor %}
                  {% endif %}
                  {{ signup_form.name }}
                </td>
              </tr>
              <tr {% if signup_form.email.errors %}class="error"{% endif %}>
                <td>{{ signup_form.email.label_tag }}</td>
                <td>
                  {% if signup_form.email.errors %}
                    {% for error in signup_form.email.errors %}{{ error }}<br />{% endfor %}
                  {% endif %}
                  {{ signup_form.email }}
                </td>
              </tr>
              <tr {% if signup_form.password.errors %}class="error"{% endif %}>
                <td>{{ signup_form.password.label_tag }}</td>
                <td>
                  {% if signup_form.password.errors %}
                    {% for error in signup_form.password.errors %}{{ error }}<br />{% endfor %}
                  {% endif %}
                  {{ signup_form.password }}
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <input type="submit" name="submit" value="Create Account" />
                </td>
              </tr>
            </table>
          </form>
        </div>
        <div class="span4">
          &nbsp;
        </div>
        <div class="span4">
          <h3>Login</h3>
          <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <table>
              <tr {% if login_form.email.errors %}class="error"{% endif %}>
                <td>{{ login_form.email.label_tag }}</td>
                <td>
                  {% if login_form.email.errors %}
                    {% for error in login_form.email.errors %}{{ error }}<br />{% endfor %}
                  {% endif %}
                  {{ login_form.email }}
                </td>
              </tr>
              <tr {% if login_form.password.errors %}class="error"{% endif %}>
                <td>{{ login_form.password.label_tag }}</td>
                <td>
                  {% if login_form.password.errors %}
                    {% for error in login_form.password.errors %}{{ error }}<br />{% endfor %}
                  {% endif %}
                  {{ login_form.password }}
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <input type="submit" name="submit" value="Login" /><br />
                  <a href="{% url 'password_reset' %}">Reset Your Password</a>
                </td>
              </tr>
            </table>
          </form>
        </div>
      {% endif %}
    </div>
    <!-- end row -->
  </div>
  <!--end container-->
</section>
{% endblock content %}
